<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="https://www.facebook.com/v2.8/dialog/oauth?app_id=380261268977382&redirect_uri=https://secure-dawn-11883.herokuapp.com/auth/facebook/callback"
            class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

    </div>

</div>
</body>
</html>
